<a href="https://colab.research.google.com/github/kim061222/Machinelearning/blob/main/20230315.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##API 사용하기

API: 두 프로그램이 서로 대화하기 위한 방법을 정의   
인증된 url만 있으면 언제든지 필요한 데이터에 편리하게 접근할 수 있는 방식

---
웹 페이지를 전송하기 위한 통신 규약: HTTP

In [1]:
d = {"name" : "혼자 공부하는 데이터 분석"} #JSON형식은 키와 값에 큰따옴표를 사용한다.
print(d['name']) #파이썬은 작은 따옴표, 큰 따옴표를 둘 다 사용할 수 있다.

혼자 공부하는 데이터 분석

In [2]:
#파이썬 객체를 JSON 문자열로 변환하기: json.dumps()
import json
d_str = json.dumps(d, ensure_ascii=False) #json.dumps()함수를 사용해 앞에서 만든 딕셔너리 d를 변환
#딕셔너리 d에 한글이 포함되어 있기 때문에 ensure_ascii 사용
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [3]:
print(type(d_str)) #d_str이 문자열 객체인지 확인

<class 'str'>

In [4]:
#JSON 문자열을 파이썬 객체로 변환하기: json.loads()
d2 = json.loads(d_str)
print(d2['name'])

혼자 공부하는 데이터 분석

In [5]:
print(type(d2))

<class 'dict'>

In [6]:
#json문자열을 json.loads()함수에 직접 전달
d3 = json.loads('{"name" : "혼자 공부하는 데이터 분석", "author" : "박혜선", "year" : 2022}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박혜선
2022

In [7]:
d3 = json.loads('{"name":"혼자 공부하는 데이터 분석","author":["박혜선","홍길동"],"year":2022}')
print(d3['author'][1])

홍길동

In [8]:
#문자열을 json.loads()함수를 사용해 파이썬 객체로 변환
d4_str = """
[
  {"name" : "혼자 공부하는 데이터 분석", "author" : "박혜선", "year" : 2022},
  {"name" : "혼자 공부하는 머신러닝+딥러닝", "author" : "박혜선", "year" : 2020}
]
"""
#문자열이 길기 때문에 파이썬 세겹따옴표(" " ")를 사용해 여러 줄에 겹친 문자열 만들기
d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [9]:
#json 문자열을 데이터프레임으로 변환하기: read_json()
import pandas as pd #판다스는 json 문자열을 읽어서 데이터프레임으로 변환하는 read_json()함수를 제공
pd.read_json(d4_str) #앞에서 만든 d4_str문자열을 판다스 데이터프레임으로 변환

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

In [10]:
#json 문자열을 파이썬 객체로 만든 다음 Data Frame 클래스를 사용
#앞에서 d4_str을 파이썬 객체로 변환한 d4를 사용해 데이터프레임 만들기
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020

파이썬에서 XML데이터 다루기   
    - xml:엘리먼트들이 계층 구조를 이루면서 정보를 표현   
    - 부모 엘리먼트 혹은 부모 노드   
    - 자식 엘리먼트

In [11]:
#xml 문자열을 파이썬 객체로 변환하기: fromstring()
#xml을 파이썬의 세겹따옴표로 문자열로 만든 다음, 파이썬에서 제공하는 xml 패키지를 사용해 읽기
#먼저 xml문자열을 x_str 변수에 저장
x_str = """
<book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박혜선</author>
    <year>2022</year>
</book>
"""

In [12]:
#xml.etree.ElementTree 모듈의 fromstring() 함수를 사용해 x_str 문자열을 xml로 변환
import xml.etree.ElementTree as et
book = et.fromstring(x_str)
print(type(book))

<class 'xml.etree.ElementTree.Element'>

In [13]:
print(book.tag)

book

In [14]:
#자식 엘리멘트 확인하기
book_childs = list(book) #리스트로 변환할 때는 list()함수 사용
print(book_childs)

[<Element 'name' at 0x7f64ae06bc20>, <Element 'author' at 0x7f64ae06bc70>, <Element 'year' at 0x7f64ae06bcc0>]

In [15]:
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박혜선
2022

In [16]:
#book 객체의 findtext() 메서드를 사용하면 해당하는 자식 엘리먼트를 탐색해 자동으로 텍스트를 변환
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박혜선
2022

In [17]:
#json과 달리 xml은 배열 같은 구조가 없음
#대신 다음처럼 두개의 <book>엘리먼트를 감싸는 부모 엘리먼트를 만들기
x2_str = """
<books>
    <book>
        <name>혼자 공부하는 데이터 분석</name>
        <author>박혜선</author>
        <year>2022</year>
    </book>
    <book>
        <name>혼자 공부하는 머신러닝+딥러닝</name>
        <author>박혜선</author>
        <year>2020</year>
    </book>
</books>
"""

In [18]:
#<books> 엘리먼트 안에 두개의 <book> 엘리먼트를 포함시켜, 이제 x2_str의 부모 엘리먼트는 <books>가 됨
#fromstring()을 이용해 부모 엘리먼트를 확인
books = et.fromstring(x2_str)
print(books.tag)

books

In [19]:
#여러 개의 자식 엘리먼트 확인하기: findall() 매서드와 for문
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

혼자 공부하는 데이터 분석
박혜선
2022

혼자 공부하는 머신러닝+딥러닝
박혜선
2020

In [20]:
#json처럼 xml을 바로 판다스로 바꾸는 방법
#read_xml() 함수를 사용해 json 문자열을 데이터 프레임으로 변환
#버젼에 따라서 안 될수도 있음 (판다스 1.3.0부터 지원함)
pd.read_xml(x2_str)

               name author  year
0    혼자 공부하는 데이터 분석    박혜선  2022
1  혼자 공부하는 머신러닝+딥러닝    박혜선  2020