<a href="https://colab.research.google.com/github/kim061222/Machinelearning/blob/main/20230327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

member=pd.Series(['홍길동','전우치','강감찬','스티브잡스'])
member

0      홍길동
1      전우치
2      강감찬
3    스티브잡스
dtype: object

In [ ]:
member=pd.Series(['홍길동','전우치','강감찬','스티브잡스'],index = ['1번','2번','3번','4번'])
member

1번      홍길동
2번      전우치
3번      강감찬
4번    스티브잡스
dtype: object

In [ ]:
member['1번']

'홍길동'

In [ ]:
member[['1번','3번']]

1번    홍길동
3번    강감찬
dtype: object

In [ ]:
sal_1 = {'일지매':130, '전우치':120,'홍길동':100}
sal_2 = pd.Series(sal_1)
sal_2

일지매    130
전우치    120
홍길동    100
dtype: int64

In [ ]:
sal_3 = {'홍길동':10,'전우치':12,'강감찬':20}
sal_4 = pd.Series(sal_3)
sal_4

홍길동    10
전우치    12
강감찬    20
dtype: int64

In [ ]:
print(sal_2+sal_4)

강감찬      NaN
일지매      NaN
전우치    132.0
홍길동    110.0
dtype: float64

In [ ]:
member3 = {'번호' : ['1번','2번','3번'] ,
           '이름' : ['홍길동','전우치','강감찬'],
           '생년' : [1975 , 1980 , 1992] }
member4 = pd.DataFrame(member3)
member4

   번호   이름    생년
0  1번  홍길동  1975
1  2번  전우치  1980
2  3번  강감찬  1992

   번호   이름    생년
0  1번  홍길동  1975
1  2번  전우치  1980
2  3번  강감찬  1992